.btn-btn-primary {
  background-color: #6362f0;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  padding: 5%;
  border-radius: 5px;
}
.btn-btn-primary:hover {
  background-color: #5353c5;
}
.border {
  background-color: #5353c5;
}
